.auth-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    margin-top: 20vh;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;

    .form-box {
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

        h3 {
            margin-bottom: 20px;
        }

        .input-field {
            width: 50%;
            margin-bottom: 20px;
        }

        .button {
            width: auto;
        }

        .new-to-collections {
            margin-top: 20px;

            a {
                text-decoration: none;
                margin-left: 5px;
            }
        }
    }
}
