@import '@/styles/variables.scss';

.card {
    display: flex;
    flex-direction: column;
    width: 70% !important;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    gap: 10px;

    @media screen and (max-width: $media-lg) {
        width: 95% !important;
        flex-direction: column !important;
    }

    @media screen and (max-width: $media-md) {
        width: 95%;
        flex-direction: column !important;
        padding: 10px;
        gap: 5px;
    }

    @media screen and (max-width: $media-sm) {
        width: 95%;
        flex-direction: column !important;
        padding: 10px;
        gap: 5px;
    }
}

image-box {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @media screen and (max-width: $media-lg) {
        flex-direction: column !important; // for rewriting MUI styles
        gap: 20px;
    }
}
