@import '@/styles/variables.scss';

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 10px;

    @media screen and (max-width: $media-xl) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $media-lg) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: $media-md) {
        grid-template-columns: repeat(1, 1fr);
    }
}
